<form id="modify-form" action="/contests/" method="POST">
<select name="id">
    <%user.contests.forEach(contest => {%>
            <option value="<%=contest.id%>"><%= contest.name%></option>
        <%})%>
    </select>
    <input type="submit">Add a division</input>
</form>

<br><br>

<form id="new-form" action="/contests" method="POST">
    <input class="textInput" name="name" type="text" value="contest name">
    <input type="submit">Propose a new contest</input>
</form>

<form id="delete-form" action="/users/?_method=DELETE" method="POST">
    <label for="user">Remove a user:</label>
    <select name="user">
        <%users.forEach(user => {%>
        <option value="<%= user._id%>"><%= user.name%></option>
        <%});%>
        <input type="submit"></input>
    </select><br><br>
</form>