body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  display: flexbox;
  flex-direction: column;
  text-align: center;
}

/* header body */

#NYYL-Logo {
  display: block;
  margin: 20px auto;
}

.headerNav {
  background: cornsilk;
}

.navbar {
  width: 100%;
  text-align: center;
  background: rgb(238, 10, 10);
  border: none;
  float: left;
}

.navbar li {
  display: inline-block;
  float: none;
}

.navbar a {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

/* style for body of views */

main .viewBody {
  
}

h1 {
  margin: 0 0 50px;
}